.editorconfig
.gitattributes
.github/**
.gitignore
.husky/**
.lintstagedrc
.vscode-test/**
.vscode/**
.yarnrc
**/.vscode-test.*
**/*.map
**/*.ts
**/*.vsix
**/eslint.config.mjs
**/tsconfig.*.json
**/tsconfig.json
biome.json
commitlint.config.js
commitlint.config.mjs
compodoc/**
docs/**
out/test/**
src/**
vsc-extension-quickstart.md
webview/**
yarn.lock
