.editorconfig
.envrc
.git/**
.gitattributes
.github/**
.gitignore
.husky/**
.lintstagedrc
.nvmrc
.release-it.json
.vscode-test/**
.vscode/**
.yarnrc
*.tsbuildinfo
**/.vscode-test.*
**/*.map
**/*.ts
**/*.vsix
**/eslint.config.mjs
**/tsconfig.*.json
**/tsconfig.json
biome.json
commitlint.config.js
commitlint.config.mjs
compodoc/**
docs/**
Makefile
out/test/**
pnpm-lock.yaml
postcss.config.js
ROADMAP.md
scripts/**
src/**
tailwind.config.js
tsconfig*.json
vsc-extension-quickstart.md
webview/**
yarn.locksrc/**
