.husky/**
.vscode/**
.vscode-test/**
out/test/**
compodoc/**
dist/**
docs/**
src/**
webview/**
.editorconfig
.gitattributes
.gitignore
.lintstagedrc
.yarnrc
biome.json
commitlint.config.js
index.html
yarn.lock
vsc-extension-quickstart.md
**/tsconfig.json
**/tsconfig.*.json
**/*.map
**/*.ts
